@font-face {
    font-family: Montserrat-Bold;
    src: url(/public/assets/fonts/montserrat/Montserrat-Bold.ttf)
}


/*------------------------------------------*/
/*--Boostrap Form Styles--*/
/*------------------------------------------*/

.form-control.is-invalid{
    border: 1px solid #dc3545;
}

small{
    font-family: Montserrat-Bold;
    margin-bottom: 10px;
    opacity: 0.8;
    font-size: 12px;
}

.wrap-input100.validate-input.is-invalid{
    margin: 0 ;
}


.form-control:focus{
    background-color: #e6e6e6 !important;
}

.form-control{
    border: 0;
}

.form-control.input100::placeholder {
    color:#a1a1a1 !important;
}